{% set page_id = 2 %} {%extends "layout.html"%} {% block head %} {{ super()}}
<link
  href="{{ url_for('static', filename='css/add_decision.css') }}"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='jquery-ui/jquery-ui.min.css') }}"
  rel="stylesheet"
/>
<script src="{{ url_for('static', filename='js/jquery_validator/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery_validator/additional-methods.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery_validator/localization/messages_ar.min.js') }}"></script>

<script src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>

{% endblock %} {% block menu %}{% include "menus/menu.html" %}{% endblock %} {%
block title %} {% if edit_mode %} {{ _("تعديل مقرر") }} {% else %} {{ _("إضافة
مقرر") }} {% endif %} {% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <form
        id="Myform"
        enctype="multipart/form-data"
        class="needs-validation"
        method="POST"
        autocomplete="off"
        novalidate
      >
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.decision_type.label }} {{ form.decision_type }}
          <div class="invalid-feedback">
            {{ form.decision_type.errors | first }}
          </div>
        </div>
        <div class="form-group">
          {{ form.numero.label }} {{ form.numero }}
          <div class="invalid-feedback">{{ form.numero.errors | first }}</div>
        </div>
        {{ form.old_numero }}
        <div class="form-group hideComponent numero_a_debatise">
          {{ form.numero_a_debatise.label }} {{ form.numero_a_debatise }}
          <div class="invalid-feedback">
            {{ form.numero_a_debatise.errors | first }}
          </div>
        </div>
        <div class="form-group">
          {{ form.date.label }}<br />
          {{ form.date }}
          <div class="invalid-feedback">{{ form.date.errors | first }}</div>
        </div>
        <div class="form-group">
          {{ form.upload.label }}<br />
          {{ form.upload }}
          <div class="invalid-feedback">{{ form.upload.errors | first }}</div>
        </div>
        {% if edit_mode %} {{ form.scan_decision_url }} {% if
        form.scan_decision_url.data %}
        <div id="fileButtons">
          <a id="button_preview_edit_file" href="#">{{ _("معاينة المسح الحالي") }}</a
          >
          |
          <a href="#" onclick="deleteFile()">{{ _("حدف") }}</a>
        </div>
        {% endif %} {% endif %}
        <hr />
        <div id="component_bloc">
          <div class="form-group">
            {{ form.component_type.label }} {{ form.component_type }}
            <div class="invalid-feedback">
              {{ form.component_type.errors | first }}
            </div>
          </div>
          <br />
          <div class="form-group hideComponent voieComponent">
            {{ form.voie_type.label }} {{ form.voie_type }}
            <div class="invalid-feedback">
              {{ form.voie_type.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent voieComponent">
            {{ form.voie_value_ar.label }} {{ form.voie_value_ar }}
            <div class="invalid-feedback">
              {{ form.voie_value_ar.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent voieComponent">
            {{ form.voie_value_fr.label }} {{ form.voie_value_fr }}
            <div class="invalid-feedback">
              {{ form.voie_value_fr.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent organismeComponent">
            {{ form.organisme_type.label }} {{ form.organisme_type }}
            <div class="invalid-feedback">
              {{ form.organisme_type.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent organismeComponent">
            {{ form.organisme_value_ar.label }} {{ form.organisme_value_ar }}
            <div class="invalid-feedback">
              {{ form.organisme_value_ar.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent organismeComponent">
            {{ form.organisme_value_fr.label }} {{ form.organisme_value_fr }}
            <div class="invalid-feedback">
              {{ form.organisme_value_fr.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent citeComponent">
            {{ form.cite_type.label }} {{ form.cite_type }}
            <div class="invalid-feedback">
              {{ form.cite_type.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent citeComponent">
            {{ form.cite_value_ar.label }} {{ form.cite_value_ar }}
            <div class="invalid-feedback">
              {{ form.cite_value_ar.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent citeComponent">
            {{ form.cite_value_fr.label }} {{ form.cite_value_fr }}
            <div class="invalid-feedback">
              {{ form.cite_value_fr.errors | first }}
            </div>
          </div>

          <div class="form-group hideComponent lieuditComponent">
            {{ form.lieudit_type.label }} {{ form.lieudit_type }}
            <div class="invalid-feedback">
              {{ form.lieudit_type.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent lieuditComponent">
            {{ form.lieudit_value_ar.label }} {{ form.lieudit_value_ar }}
            <div class="invalid-feedback">
              {{ form.lieudit_value_ar.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent lieuditComponent">
            {{ form.lieudit_value_fr.label }} {{ form.lieudit_value_fr }}
            <div class="invalid-feedback">
              {{ form.lieudit_value_fr.errors | first }}
            </div>
          </div>

          <div class="form-group hideComponent zoneComponent">
            {{ form.zone_type.label }} {{ form.zone_type }}
            <div class="invalid-feedback">
              {{ form.zone_type.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent zoneComponent">
            {{ form.zone_value_ar.label }} {{ form.zone_value_ar }}
            <div class="invalid-feedback">
              {{ form.zone_value_ar.errors | first }}
            </div>
          </div>
          <div class="form-group hideComponent zoneComponent">
            {{ form.zone_value_fr.label }} {{ form.zone_value_fr }}
            <div class="invalid-feedback">
              {{ form.zone_value_fr.errors | first }}
            </div>
          </div>
        </div>
        <div id="component_bloc_detail"></div>
      </form>
      <button class="btn btn-primary" id="submit_to_verify">{{_("إرسال")}}</button>
    </div>
  </div>
</div>

<!-- Modal  preview file-->
{% if edit_mode %}
  <div
    class="modal fade"
    id="preview-edit-file-modal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog" style="height: 90vh" role="document">
      <div class="modal-content" style="height: 100%; width: 100%">
        <div class="modal-body" style="padding: 0px;">
          <div id="preview-edit-file-div" style="height: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Modal -->
<div
  class="modal fade"
  id="sendModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" style="height: 90vh" role="document">
    <div class="modal-content" style="height: 100%; width: 100%">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <b>{{ _("تحقق من معلوماتك") }}</b>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="row" style="height: 100%">
          <div class="col-6" id="modal-body-content"></div>
          <div class="col-6" id="preview-col"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ _("عودة") }}
        </button>
        <button id="modal-submit" type="button" class="btn btn-primary">
          {{ _("حفظ البيانات") }}
        </button>
      </div>
    </div>
  </div>
</div>

<script>
    {% if edit_mode %}
      $("#button_preview_edit_file").click(function(){
        $("#preview-edit-file-modal").modal("show")
        var embed = document.createElement("embed");
        embed.id = "preview";
        embed.style = "width:100%;height:100%;"
        embed.src = "{{ form.scan_decision_url.data }}";
        $("#preview-edit-file-div").html("")
        $("#preview-edit-file-div").append(embed);
      })
    {% endif %}
    {% if edit_mode and form.scan_decision_url.data %}
    var scan_decision_url = "{{ form.scan_decision_url.data  }}"
    {% else %}
    var scan_decision_url = null
    {% endif %}
    function deleteFile() {
      $('#scan_decision_url').val("")
      $("#fileButtons").html("")
      scan_decision_url = null
    }
    function changeComponentType() {
      // The css activeComponent class = {display: block !important;} See css\add_decision.css
      $(".activeComponent").removeClass("activeComponent");

      switch ($("#component_type").val()) {
        case "{{enum_component_type.VOIE.name}}":
          $(".voieComponent").addClass("activeComponent");
          break;
        case "{{enum_component_type.ORGANISME.name}}":
          $(".organismeComponent").addClass("activeComponent");
          break;
        case "{{enum_component_type.CITE.name}}":
          $(".citeComponent").addClass("activeComponent");
          break;
        case "{{enum_component_type.LIEU_DIT.name}}":
          $(".lieuditComponent").addClass("activeComponent");
          break;
        case "{{enum_component_type.ZONE.name}}":
          $(".zoneComponent").addClass("activeComponent");
          break;
      }
    }
    $("#component_type").change(changeComponentType);
    changeComponentType($("#component_type").val());

    function changeDecisionType() {
      $(".showDebatisation").removeClass("showDebatisation");
      if ($("#decision_type").val() == "{{enum_decision_type.DEBATISATION.name}}") {
        $(".numero_a_debatise").addClass("showDebatisation");
        $("#component_bloc").hide()
        $("#component_bloc_detail").show()
      } else if ($("#decision_type").val() == "{{enum_decision_type.BATISATION.name}}") {
        $("#component_bloc").show()
        $("#component_bloc_detail").hide()
      } else {
        $("#component_bloc").hide()
        $("#component_bloc_detail").hide()
      }
    }
    $("#decision_type").change(changeDecisionType);
    changeDecisionType($("#decision_type").val());

    jQuery.extend(jQuery.validator.messages, {
      accept: "{{_('يجب أن يكون الملف من نوع pdf')}}"
    })


    jQuery.validator.setDefaults({
      errorElement: "span",
      errorPlacement: function (error, element) {
        error.addClass("invalid-feedback");
        element.closest(".form-group").append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass("is-invalid");
      },
    });

    function isDebatisationSelected() {
      return $("#decision_type").val() == "{{enum_decision_type.DEBATISATION.name}}";
    }

    function isBatisationSelected() {
      return $("#decision_type").val() == "{{enum_decision_type.BATISATION.name}}";
    }

    function isVoieSelected() {
      return $("#component_type").val() == "{{enum_component_type.VOIE.name}}";
    }

    function isOrganismeSelected() {
      return $("#component_type").val() == "{{enum_component_type.ORGANISME.name}}";
    }

    function isCiteSelected() {
      return $("#component_type").val() == "{{enum_component_type.CITE.name}}";
    }

    function isLieuditSelected() {
      return $("#component_type").val() == "{{enum_component_type.LIEU_DIT.name}}";
    }

    function isZoneSelected() {
      return $("#component_type").val() == "{{enum_component_type.ZONE.name}}";
    }

    var labels = document.getElementsByTagName("LABEL");
    for (var i = 0; i < labels.length; i++) {
      if (labels[i].htmlFor != "") {
        var elem = document.getElementById(labels[i].htmlFor);
        if (elem) elem.label = labels[i];
      }
    }

    $("#modal-submit").click(function (e) {
      $("#Myform").submit();
    });

    $("#submit_to_verify").click(function (e) {
      if (!$("#sendModal").is(":visible")) {
        e.preventDefault();
        if ($("#Myform").valid()) {
          $("#modal-body-content").html("");
          $("#sendModal").modal("show");
          $(".modal-dialog").removeClass("modal-with-pdf-preview");
          $(".modal-dialog").removeClass("modal-xl");
          $("#Myform :input").each(function () {
            if ($(this).is(":visible") && this.type != "submit" && this.type != "file") {
              if (this.tagName == "SELECT")
                $("#modal-body-content").append(
                  "<p>" + this.label.innerHTML + " : " + $(this).find("option[value='" + $(this).val() + "']").text() + "</p>"
                );
              else
                $("#modal-body-content").append(
                  "<p>" + this.label.innerHTML + " : " + this.value + "</p>"
                );
            }
          });
          previewFile()
        }
      }
    });

    $.validator.addMethod('filesize', function (value, element, param) {
      if (element.files.length > 0)
        return (this.optional(element) || (element.files[0].size <= param * 1024 * 1024 && element.files[0].size > 0))
      else return true;
    }, "{{_('يجب أن يكون حجم الملف أقل من {0} MB')}}");

    jQuery.validator.addMethod("numeros_diff", function (value, element) {
      if (!this.optional(element) && $("#numero").val() != ""
        && value == $("#numero").val())
        return false
      else
        return true
    }, "رقم المقرر إزالة التسمية يجب ان يكون مختلف على رقم مقرر المراد إزالة تسميته");

    jQuery.validator.addMethod(
      "dateFormat",
      function(value, element) {
          var check = false;
          var re = /^\d{1,2}\/\d{1,2}\/\d{4}$/;
              if( re.test(value)){
                  var adata = value.split('/');
                  var dd = parseInt(adata[0],10);
                  var mm = parseInt(adata[1],10);
                  var yyyy = parseInt(adata[2],10);
                  if (yyyy > 2100) return this.optional(element) || check
                  var xdata = new Date(yyyy,mm-1,dd);
                  if ( ( xdata.getFullYear() === yyyy ) && ( xdata.getMonth () === mm - 1 ) && ( xdata.getDate() === dd ) ) {
                  check = true;
              }
              else {
                  check = false;
              }
          } else {
            check = false;
          }
          return this.optional(element) || check;
      },
      "يرجى إحترام شكل التاريخ (سنة/شهر/يوم) مثال : 30/12/2017"
  );

    $("#Myform").validate({
      focusInvalid: false,
      invalidHandler: function (form, validator) {

        if (!validator.numberOfInvalids())
          return;

        $('html, body').animate({
          scrollTop: $(validator.errorList[0].element).offset().top - 50
        }, 0);

      },
      rules: {
        decision_type: {
          required: true
        },
        numero_a_debatise: {
          required: function () {
            return isDebatisationSelected();
          },
          numeros_diff: true
        },
        numero: {
          minlength: 4,
          required: function () {
            return isDebatisationSelected() || isVoieSelected() || isCiteSelected();
          },
          remote: "{{ url_for('bp_decision.check_decision_unique', exclude=form.numero.data) }}",
        },
        date: {
          required: function () {
            return isDebatisationSelected() || isVoieSelected() || isCiteSelected() || $("#numero").val() != "";
          },
          dateFormat: true,
        },
        upload: {
          required: function () {
            return (isVoieSelected() && !Boolean(scan_decision_url)) || (isDebatisationSelected() && !Boolean(scan_decision_url)) || (isCiteSelected() && !Boolean(scan_decision_url)) || ($("#numero").val() != "" && !Boolean(scan_decision_url));
          },
          accept: "application/pdf",
          filesize: 5,
        },
        component_type: {
          required: function () {
            return isBatisationSelected();
          },
        },
        voie_type: {
          required: function () {
            return isVoieSelected();
          },
        },
        voie_value_ar: {
          required: function () {
            return isVoieSelected();
          },
        },
        organisme_type: {
          required: function () {
            return isOrganismeSelected();
          },
        },
        organisme_value_ar: {
          required: function () {
            return isOrganismeSelected();
          },
        },
        cite_type: {
          required: function () {
            return isCiteSelected();
          },
        },
        cite_value_ar: {
          required: function () {
            return isCiteSelected();
          },
        },
        lieudit_type: {
          required: function () {
            return isLieuditSelected();
          },
        },
        lieudit_value_ar: {
          required: function () {
            return isLieuditSelected();
          },
        },
        zone_type: {
          required: function () {
            return isZoneSelected();
          },
        },
        zone_value_ar: {
          required: function () {
            return isZoneSelected();
          },
        },
      },
      messages:{
        numero: {
          remote: "{{ _('هدا الرقم تم إدخاله من قبل') }}"
        }
      }
    });
    $(':input[type="file"]').change(function () { $(this).valid() });
    $("#numero_a_debatise").autocomplete({
      source: "{{ url_for('bp_decision.autocomplete_decision') }}",
      minLength: 2,
      change: function (event, ui) {
        if (ui.item == null) {
          showDangerAlert("{{ _('يرجى إختيار رقم مقرر من قائمة النتائج الناتجة عن البحت في رقم المقرر المراد إزالة تسميته') }}");
          event.currentTarget.value = "";
          event.currentTarget.focus();
          $("#component_bloc_detail").html("")
        } else {
          $("#component_bloc_detail").html("")
          ask_data_for_debatisation(event.currentTarget.value)
        }
      },
    });

    function ask_data_for_debatisation(numero) {
      $.get(
        "{{ url_for('bp_decision.get') }}",
        { numero: numero },
        function (data) { load_debatisation_info(data) }
      )
    }

    function load_debatisation_info(data) {
      let component_type = $("<p></p>").text("{{ _('نوع المنشأة') }}" + " : " + data["component_type"])
      let component_subtype = $("<p></p>").text("{{ _('صنف') }}" + " : " + data["_type"])
      let component_name_ar = $("<p></p>").text("{{ _('الاسم باللغة العربية') }}" + " : " + data["value_ar"])
      let component_name_fr = $("<p></p>").text("{{ _('الاسم باللغة اللاتنية') }}" + " : " + data["value_fr"])
      $("#component_bloc_detail").html("")
      $("#component_bloc_detail").append(component_type)
      $("#component_bloc_detail").append(component_subtype)
      if (data["value_ar"])$("#component_bloc_detail").append(component_name_ar)
      if (data["value_fr"])$("#component_bloc_detail").append(component_name_fr)
    }
    {% if edit_mode and form.data.decision_type == enum_decision_type.DEBATISATION.name %}
      ask_data_for_debatisation("{{ form.data.numero_a_debatise }}")
    {% endif %}
    function previewFile() {
      var container = document.getElementById("preview-col");
      container.innerHTML = ""
      if (document.getElementById("upload").files.length > 0) {
        $(".modal-dialog").addClass("modal-with-pdf-preview");
        $(".modal-dialog").addClass("modal-xl");
        var file = document.getElementById("upload").files[0];
        var iframe = document.createElement("iframe");
        iframe.id = "preview";
        iframe.style = "width:425px;height:100%;"
        iframe.src = URL.createObjectURL(file);
        container.appendChild(iframe);
      }
      else if (scan_decision_url != null) {
        $(".modal-dialog").addClass("modal-with-pdf-preview");
        $(".modal-dialog").addClass("modal-xl");
        var iframe = document.createElement("iframe");
        iframe.id = "preview";
        iframe.style = "width:425px;height:100%;"
        iframe.src = scan_decision_url
        container.appendChild(iframe);
      } else {
        $(".modal-dialog").removeClass("modal-with-pdf-preview");
        $(".modal-dialog").removeClass("modal-xl");
      }
    }
</script>

{% endblock %}
