{% if  code_wilaya == "00" %}
{% set page_id = 9 %}
{% else %}
    {% if  obj.commune %}
        {% if not history == "true" %}
            {% set page_id = 11 %}
        {% else %}
            {% set page_id = 12 %}
        {% endif %}
    {% else %}
        {% set page_id = 10 %}
    {% endif %}
{% endif %}
{% extends "layout.html" %} 
{% block head %} {{ super() }} {% endblock %} 
{% block menu %}{% include "menus/menu.html" %}{% endblock %}
{% block title %}
    {% if  code_wilaya == "00" %}
        {{ _("الوضعية الحالية الوطنية ") }}
    {% else %}
        {% if  obj.commune  %}
            {% if not history == "true" %}
                {{ _("الوضعية الحالية لبلدية ") }} {{ obj.commune }}
            {% else %}
                {{ _("تفاصيل") }}
            {% endif %}
        {% else %}
            {{ _("الوضعية الحالية لولاية ") }} {{ obj.wilaya }}
        {% endif %}
    {% endif %}
{% endblock %}




{% block content %}
<div id="content" style="font-size: 18px;">
    <p style="text-align:center;">

        <button style="width:50%;margin: 0 auto -32px;" class="btn btn-primary" type="button">
                <h3> <b>{{ _("عملية تسمية الفضاءات العمومية و الاهلة بالسكان") }}</b>   </h3>      
        </button>
    </p>
    <div class="collapse show" id="collapseExample">
        <div class="card card-body card-body-style ">
            <div class="row">


                <div class="col-6">


                    {% if code_wilaya != "00" %}
                    <p>
                        الولاية : <b>{{ obj.wilaya }}</b>
                    </p>
                    {% endif %} {% if obj.commune %}
                    <p>
                        البلدية : <b>{{ obj.commune }}</b>
                    </p>
                    {% endif %}
                    <p>
                        تاريخ التعديل الاخير : <b dir='ltr'>{{ obj.date.strftime('%Y/%m/%d - %H:%M:%S')  if obj.date }}</b>
                    </p>
                    <p>
                        {{ _("nbEspPubRec") }} : <b>{{ obj.nbEspPubRec if obj.nbEspPubRec }} </b>
                    </p>
                    <p>
                        {{ _("nbEspPubBapt") }} : <b>{{ obj.nbEspPubBapt if obj.nbEspPubBapt }} </b>
                    </p>
                    <p>
                        {{ _("nbEspPubNonBapt") }} : <b>{{ obj.nbEspPubNonBapt if obj.nbEspPubNonBapt }} </b>
                    </p>
                    <p>
                        {{ _("nbBapProp") }} : <b>{{ obj.nbBapProp if obj.nbBapProp }} </b>
                    </p>
                    <p>
                        {{ _("sum_bat_before_after") }} : <b>{{ obj.sum_bat_before_after if obj.sum_bat_before_after }} </b>
                    </p>
                    <p>
                        {{ _("percent") }} : <b>{{ obj.perc_bat if obj.perc_bat }} % </b>
                    </p>
                </div>

                <div class="col-6">

                    <p>
                        <b class="underline">{{ _("إقتراحات التسمية المصادق عليها") }}</b>
                    </p>
                    <p>
                        {{ _("nbRueBoulVois") }} : <b>{{ obj.nbRueBoulVois if obj.nbRueBoulVois  }} </b>
                    </p>
                    <p>
                        {{ _("nbCiteAglo") }} : <b>{{ obj.nbCiteAglo if obj.nbCiteAglo  }} </b>
                    </p>
                    <p>
                        {{ _("nbJardPlace") }} : <b>{{ obj.nbJardPlace if obj.nbJardPlace  }} </b>
                    </p>
                    <p>
                        {{ _("nbMonumHist") }} : <b>{{ obj.nbMonumHist if obj.nbMonumHist  }} </b>
                    </p>
                    <p>
                        {{ _("nbInstImmo") }} : <b>{{ obj.nbInstImmo if obj.nbInstImmo  }} </b>
                    </p>
                    <p>
                        {{ _("nbAutre") }} : <b>{{ obj.nbAutre if obj.nbAutre  }} </b>
                    </p>
                    <p>
                        {{ _("sum_BapValide") }} : <b>{{ obj.sum_BapValide if obj.sum_BapValide  }} </b>
                    </p>
                    <p>
                        {{ _("percent") }} : <b>{{ obj.perc_BapValide if obj.perc_BapValide  }} %</b>
                    </p>
                </div>
            </div>
        </div>
        <!-- colapss content -->

    </div>

    <p style="text-align:center;margin-top: 20px;">

        <button style="width:50%;margin: 32px auto -32px;" class="btn btn-primary" type="button">
            <h3> <b>{{ _("عملية الترقيم و تركيب اللوحات") }}</b> </h3>
        </button>
    </p>

    <div class="collapse show" id="collapseExample2">
        <div class="card card-body card-body-style " style="margin-bottom:25px;">
            <div class="row">
                <div class="col-6">

                    <p>
                        <b class="underline">{{ _("تركيب لوحات التسمية") }}</b>
                    </p>

                    <p>
                        {{ _("nbPlaqNomPrevParComm") }} : <b>{{ obj.nbPlaqNomPrevParComm if obj.nbPlaqNomPrevParComm }} </b>
                    </p>
                    <p>
                        {{ _("nbPlaqNomNonInst") }} : <b>{{ obj.nbPlaqNomNonInst if obj.nbPlaqNomNonInst }} </b>
                    </p>
                    <p>
                        {{ _("nbPlaqNomInst") }} : <b>{{ obj.nbPlaqNomInst if obj.nbPlaqNomInst }} </b>
                    </p>
                    <p>
                        {{ _("entrPlaqNomFab") }} : <b>{{ _(obj.entrPlaqNomFab) if obj.entrPlaqNomFab }} </b>
                    </p>
                    <p>
                        {{ _("entrPlaqNomInst") }} : <b>{{ _(obj.entrPlaqNomInst) if obj.entrPlaqNomInst }} </b>
                    </p>
                    <p>
                        {{ _("percent") }} : <b>{{ obj.perc_PlaqNomInst if obj.perc_PlaqNomInst }} % </b>
                    </p>
                </div>

                <div class="col-6">

                    <p>
                        <b class="underline">{{ _("عملية الترقيم") }}</b>
                    </p>
                    <p>
                        {{ _("nbPlaqNumPrevParComm") }} : <b>{{ obj.nbPlaqNumPrevParComm if obj.nbPlaqNumPrevParComm }} </b>
                    </p>
                    <p>
                        {{ _("nbPlaqNumNonInst") }} : <b>{{ obj.nbPlaqNumNonInst if obj.nbPlaqNumNonInst }} </b>
                    </p>
                    <p>
                        {{ _("nbPlaqNumInst") }} : <b>{{ obj.nbPlaqNumInst if obj.nbPlaqNumInst }} </b>
                    </p>
                    <p>
                        {{ _("entrPlaqNumFab") }} : <b>{{ _(obj.entrPlaqNumFab) if obj.entrPlaqNumFab }} </b>
                    </p>
                    <p>
                        {{ _("entrPlaqNumInst") }} : <b>{{ _(obj.entrPlaqNumInst) if obj.entrPlaqNumInst }} </b>
                    </p>
                    <p>
                        {{ _("percent") }} : <b>{{ obj.perc_PlaqNumInst if obj.perc_PlaqNumInst }} % </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- colapss content -->



</div>





{% endblock %}