<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='css/fa-all.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap-rtl.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='chart-js/Chart.js') }}"></script>

    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">{{ current_user.username }}</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ url_for('security.logout') }}">{{ _("خروج") }}</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    {% block menu %}No menu{% endblock %}

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-4 mb-3 border-bottom">
                    <h1 class="h3">{% block title %}{% endblock %}</h1>
                    {% block title_left %}{% endblock %}
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                <div class="flashes alert alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <div>{{ message }}</div>
                </div>
                {% endfor %} {% endif %} {% endwith %}
                <div class="alert alert-danger" id="danger-alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <div id="danger-alert-content"></div>
                </div>
                <div class="alert alert-success" id="success-alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <div id="success-alert-content"></div>
                </div>
                <script>
                    setTimeout(function() {
                        $('.flashes').fadeOut('fast');
                    }, 40000);
                </script>
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</body>

</html>