{% set page_id = 1 %} {%extends "layout.html"%} {% block head %} {{ super() }} {% endblock %} {% block menu %}{% include "menus/menu.html" %}{% endblock %} {% block title %}{{ _("لوحة القيادة") }}
<div class="left">
    <h3 clas="text-muted">نسبة التقدم الكلية لتسمية:<span class="bold">50%</span>
    </h3>
</div>{% endblock %} {% block content %}
<div class="main-content" id="panel">
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class=" col-md-4">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">الفضاءات المحصاة</h5>
                                    <span class="h2 font-weight-bold mb-0">35087</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">إجمالي عدد لوحات التسميةالمركبة
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0">2356</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">إجمالي عدد لوحات الترقيم المركبة
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0">624</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-xl-8" style="margin-top: 80px;">
                <canvas id="pieChart" width="600" height="300"></canvas>

            </div>
            <div class="col-xl-4" style="margin-top: 80px;">
                <canvas id="pieChart2" width="300" height="150"></canvas>
                <canvas id="pieChart3" width="300" height="150"></canvas>

            </div>

        </div>
        <div class="row">
            <div class="col-xl-8">

            </div>
            <div class="col-xl-4">

            </div>
        </div>
    </div>
</div>
<script>
    // var bar_ctx = document.getElementById('barChart');
    // var barChart = new Chart(bar_ctx, {
    //     type: 'bar',
    //     data: {
    //         labels: ['يناير', 'فبراير', 'مارس', 'أبريل', 'ماي', 'يونيو'],
    //         datasets: [{
    //             label: 'القرارات المعلقة',
    //             data: [170, 50, 314, 79, 257, 45],
    //             backgroundColor: 'rgba(255, 206, 86, 0.2)',
    //             borderColor: 'rgba(255, 206, 86, 0.2)',
    //             borderWidth: 3
    //         }, {
    //             label: 'القرارات المصادق عليها',
    //             data: [130, 35, 134, 58, 145, 30],
    //             backgroundColor: 'rgba(54, 162, 235, 0.2)',
    //             borderColor: 'rgba(54, 162, 235, 0.2)',
    //             borderWidth: 3
    //         }]
    //     },
    //     options: {
    //         scales: {
    //             yAxes: [{
    //                 ticks: {
    //                     beginAtZero: true
    //                 }
    //             }]
    //         },
    //         title: {
    //             display: true,
    //             position: 'bottom',
    //             text: 'عدد القرارات المعلقة والمصادق عليها شهريًا'
    //         }
    //     }
    // });

    var pie_ctx = document.getElementById('pieChart');
    var myPieChart = new Chart(pie_ctx, {
        type: 'pie',
        data: {
            labels: ['عدد التسميات المصادق عليها', 'عدد إقترحات التسمية المرسلة', 'عدد الفضاءات غير المسماة و المنتظر تسميتها'],
            datasets: [{
                data: [12, 19, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1

            }]
        },
        options: {
            title: {
                display: true,
                position: 'bottom',
                text: 'نسب تقدم المصادقة ',
                fontSize: 30
            },
            legend: {
                display: true,
                labels: {
                    fontSize: 20
                }
            }

        }
    });
    ////////////////////////////////////////////////////
    var pie_ctx = document.getElementById('pieChart2');
    var myPieChart = new Chart(pie_ctx, {
        type: 'pie',
        data: {
            labels: ['عدد اللوحات الغير  المركبة', 'عدد اللوحات المركبة'],
            datasets: [{
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'

                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'

                ],
                borderWidth: 1
            }]
        },
        options: {
            title: {
                display: true,
                position: 'bottom',
                text: 'لوحات الترقيم',
                fontSize: 25
            },
            legend: {
                display: true,
                labels: {
                    fontSize: 20
                }
            }
        }
    });

    /////////////////////////////////////////////////////

    var pie_ctx = document.getElementById('pieChart3');
    var myPieChart = new Chart(pie_ctx, {
        type: 'pie',
        data: {
            labels: ['عدد اللوحات الغير  المركبة', 'عدد اللوحات المركبة'],
            datasets: [{
                data: [12, 6],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'

                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'

                ],
                borderWidth: 1
            }]
        },
        options: {
            title: {
                display: true,
                position: 'bottom',
                text: 'لوحات التسمية',
                fontSize: 25
            },
            legend: {
                display: true,
                labels: {
                    fontSize: 20
                }
            }
        }
    });
</script>
{% endblock %}