{% set page_id = 1 %} {%extends "layout.html"%} {% block head %} {{ super() }} {% endblock %} {% block menu %}{% include "menus/menu.html" %}{% endblock %} {% block title %}
    <h3 style="width: 80%;">
        {{ _(" لوحة القيادة") }} 
        {% if commune_name %} لبلدية {{ commune_name }}{% endif %}
        {% if code_wilaya != "00" %}
            {% if wilaya_name  %}( ولاية {{ wilaya_name }} ){% endif %}
        {% elif not commune_name %}
            (كل الوطن)
        {% endif %}
     </h3>
{% if current_user.has_role(consts.ROLE_NATIONAL) and code_wilaya == "00" %}
<div class="card-body" style="width:30%; float:left ">
    <div class="row">
        <div class="col" style="display:flex;">
            <!-- <span class="h2 font-weight-bold mb-0">49,65%</span> -->
            <h5 class="card-title text-uppercase text-muted mb-0" style="line-height: normal; padding: 0 15px;">الولايات</h5>

                <select
                    id="wilaya_select"
                    class="float-left form-control"
                    style="width: 300px"
                >
               
                {% for elt in wilaya_list %}
                <option value="{{elt.code_wilaya}}">{{elt.code_wilaya}} - {{elt.wilaya}}</option>
                {% endfor %}
                </select>
        </div>
    </div>
</div>
{% endif %}
{% if  current_user.has_role(consts.ROLE_NATIONAL) and code_wilaya != "00" %}
            <h5 class=" label_wilaya card-title text-uppercase  mb-0" style="line-height: normal; padding: 0 15px;">الولايات</h5>
  

<select
                    id="wilaya_select"
                    class="list_wilaya dropBlack form-control"
                    style="width: 150px;height:45px;"
                >

                {% for elt in wilaya_list %}
               
                <option value="{{elt.code_wilaya}}"> {{elt.code_wilaya}}-{{elt.wilaya}}</option>
                {% endfor %}
                </select>


{% endif %}



{% if not current_user.has_role(consts.ROLE_COMMUNE) and code_wilaya != "00" %}
 
<div class="card-body" style="width:30%; float:left ">
    <div class="row">
        <div class="col" style="display:flex;">
            <!-- <span class="h2 font-weight-bold mb-0">49,65%</span> -->
            <h5 class="card-title text-uppercase text-muted mb-0" style="line-height: normal; padding: 0 15px;">البلديات</h5>
                <select
                    id="commune_select"
                    class="float-left form-control"
                    style="width: 300px"
                >
                <option value="">كل البلديات</option>
                {% for elt in commune_list %}
                    <option value="{{elt.pk}}">{{elt.commune}}</option>
                {% endfor %}
                </select>
        </div>
    </div>
</div>
{% endif %}

{% if current_user.has_role(consts.ROLE_COMMUNE) %}
<div class="card-body" style="width:30%; float:left ">
</div>
{% endif %}

{% endblock %} {% block content %}
{% if obj.nbEspPubRec or obj.perc_bat or obj.sum_BapValide or obj.perc_BapValide or obj.sum_bat_before_after %}
    <div class="main-content" id="panel">
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">الفضاءات المحصاة</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ obj.nbEspPubRec }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">عدد لوحات التسمية الأولية</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ obj.nbPlaqNomPrevParComm }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">عدد المداخل المرقمة أوليا</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ obj.nbPlaqNumPrevParComm }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">نسبة تقدم  عملية التسمية</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ obj.perc_bat }} % </span>
                                    </div>
                                </div>
                            </div>



                            <!-- end card -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-xl-8" style="margin-top: 80px;">
                    <canvas id="pieChart" width="600" height="300"></canvas>

                </div>
                <div class="col-xl-4" style="margin-top: 80px;">
                    <canvas id="pieChart2" width="300" height="150"></canvas>
                    <canvas id="pieChart3" width="300" height="150"></canvas>

                </div>

            </div>
            <div class="row">
                <div class="col-xl-8">

                </div>
                <div class="col-xl-4">

                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="main-content" id="panel" style="font-size: 30px;text-align: center;margin-top: 85px;">
        <p>
            {% if current_user.has_role(consts.ROLE_COMMUNE) %}
               {{ _("لا يوجد معطيات بعد، يرجى إدخال الإحصائيات بالنقر فوق القائمة 'إدخال الإحصائيات الجديدة '") }}
            {% else %}
                {{ _("لا يوجد أي إحصائيات لهذه المنطقة") }}
            {% endif %}
        </p>
    </div>
{% endif %}
<script>
    let nbEspPubRec = "{{ obj.nbEspPubRec }}"
    if (nbEspPubRec != "" && nbEspPubRec != "None"){
        var pie_ctx = document.getElementById('pieChart');
        var myPieChart = new Chart(pie_ctx, {
            type: 'pie',
            data: {
                labels: ['عدد التسميات المصادق عليها',
                        'عدد إقترحات التسمية المرسلة' 
                        , 'عدد الفضاءات غير المسماة و المنتظر تسميتها'],
                datasets: [{
                    data: [{{ obj.sum_BapValide }}, {{ obj.nbBapProp }}, {{ obj.nbEspPubNonBapt }} ],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1

                }]
            },
            options: {
                title: {
                    display: true,
                    position: 'bottom',
                    text: 'نسب تقدم المصادقة ',
                    fontSize: 30
                },
                legend: {
                    display: true,
                    labels: {
                        fontSize: 20
                    }
                }

            }
        });
        ////////////////////////////////////////////////////
        var pie_ctx = document.getElementById('pieChart3');
        var myPieChart = new Chart(pie_ctx, {
            type: 'pie',
            data: {
                // IMPORTANT, because of vscode non support of arabic text the labels and the data should be inversed
                labels: ['عدد اللوحات الغير  المركبة'
                        , 'عدد اللوحات المركبة',
                        'عدد المداخل المرقمة أوليا'
                        ],
                datasets: [{
                    data: [ {{obj.nbPlaqNumNonInst}}, {{obj.nbPlaqNumInst}}, {{ obj.nbPlaqNumPrevParComm }}, ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    position: 'bottom',
                    text: 'لوحات الترقيم',
                    fontSize: 25
                },
                legend: {
                    display: true,
                    labels: {
                        fontSize: 18
                    }
                }
            }
        });


    /////////////////////////////////////////////////////

        var pie_ctx = document.getElementById('pieChart2');
        var myPieChart = new Chart(pie_ctx, {
            type: 'pie',
            data: {
                // IMPORTANT, because of vscode non support of arabic text the labels and the data should be inversed
                labels: ['عدد اللوحات الغير  المركبة'
                        , 'عدد اللوحات المركبة',
                        'عدد لوحات التسمية الأولية'],
                datasets: [{
                    data: [{{ obj.nbPlaqNomNonInst }}, {{ obj.nbPlaqNomInst }}, {{ obj.nbPlaqNomPrevParComm }} ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    position: 'bottom',
                    text: 'لوحات التسمية',
                    fontSize: 25
                },
                legend: {
                    display: true,
                    labels: {
                        fontSize: 18
                    }
                }
            }
        });
    }
    window.onload = function () {
        $("#wilaya_select").on("change", function () {
            let selected_code_wilaya = $(this).val(); // get selected value
            if (selected_code_wilaya) {
                var target_url = new URL(window.location.href);
                target_url.searchParams.set("code_wilaya", selected_code_wilaya);
                target_url.searchParams.delete("q");
                target_url.searchParams.delete("pk_commune");
                window.location = target_url;
            }
        return false;
        });
        new_url = new URL(window.location.href);
        let code_wilaya = new_url.searchParams.get("code_wilaya");
        if (code_wilaya != null) {
            $("#wilaya_select").val(code_wilaya);
        }
        else 
            $("#wilaya_select").val("00");
            
            
        $("#commune_select").on("change", function () {
            let selected_pk_commune = $(this).val(); // get selected value
            if (selected_pk_commune || selected_pk_commune =="" ) {
                var target_url = new URL(window.location.href);
                target_url.searchParams.set("pk_commune", selected_pk_commune);
                target_url.searchParams.delete("q");
                window.location = target_url;
            }
        return false;
        });
        new_url = new URL(window.location.href);
        let pk_commune = new_url.searchParams.get("pk_commune");
        if (pk_commune != null) {
            $("#commune_select").val(pk_commune);
        }
        else 
            $("#commune_select").val("");   
            
            

    };

    window.onunload = function () {$('.dropdown-toggle').dropdown();};

    $('#dropdownMenuButton').on('show.bs.dropdown', function () {
  alert('test madafaka');
})

    
</script>
{% endblock %}