<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='css/dash.css') }}" rel="stylesheet" /> 
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src='/static/js/jqslim.min.js'></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
<script src='/static/js/popper.min.js'></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script> -->
<script src='/static/js/bootstrap.min.js'></script>
    <title>Tableau de bord OSM Quality</title>
      <!-- Font Awesome Icons -->
    <!-- You can use href="/path/to/your/file.format", but I prefer this way to make it looks Flask-like-->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
    <!-- Theme style -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}"> -->
    <!-- Google Font: Source Sans Pro -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <!-- <link rel="stlesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vega-tooltip@0.16.0/vega-tooltip.scss"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vega-tooltip.scss') }}">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script> -->
    <script src='/static/js/jspdf.debug.js'></script>
    <script src='/static/chart-js/Chart.min.js'></script>
    <script src='/static/js/Chart.min.js'></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favrna.png') }}"/>  

    <!-- dashbord import style -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/">
    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">APPLICATION WEB OSM-Quality</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a id="navMain" class="nav-link active" href="#">
                  <span data-feather="home"></span>   
                  Tableau de bord 
                  <!-- <span id="current" class="sr-only" style="display: none;">(current)</span> -->
                </a>
              </li>
              <li class="nav-item">
                <a id="navIndic1" class="nav-link" onclick="return indic1();" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Inticateur de l'Actualité des entitées OSM 
                  <!-- <span id="current" class="sr-only">(current)</span> -->
                </a>
              </li>
              <li class="nav-item">
                <a id="navIndic2" class="nav-link" onclick="return indic2();" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Inticateur sur la Complètude 
                  <!-- <span id="current" class="sr-only" style="display: none;">(current)</span> -->
                </a>
              </li>
              <li class="nav-item">
                <a id="navIndic3" class="nav-link" onclick="return indic3();" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Inticateur sur la Géométries 
                  <!-- <span id="current" class="sr-only" style="display: none;">(current)</span> -->
                </a>
              </li>
              <li class="nav-item">
                <a id="navIndic4" class="nav-link" onclick="return indic4();" href="#">
                  <span data-feather="users"></span>
                  Inticateur sur les Contributeurs
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li> -->
              
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Console Log Serveur</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="server"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <div id="console">
                      <div id="consolebody">
                        <p>> Merci de cliquer sur le button "Executer l'évatluation"</p>
                      </div>
                </div>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 id="title" class="h2">Dashboard</h1>
            <div class="btn-toolbar ">
             <button id="downloadPdf" class="btn btn-sm btn-outline-secondary" style="display: none;">Exporter le Rapport</button>
            </div>
          </div>

          <div id="dashCard" class="card text-center mb-3">
            <div id="card_bg" class="card-img-top"></div>
            <div class="card-body">
              <h5 class="card-title">Evaluation de la qualité de donnée Open Steet Map en utilisant des indicateurs intinsèques</h5>
              <p id="cardText" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <select id="cardSelect" class="mx-auto form-control form-control-sm" style="width: 100px;">
                <option>Oran</option>
                <!-- <option>Alger</option> -->
            </select>        
            <button id="runBtn" type="button" class="btn btn-primary">Executer l'évaluation</button>

              <div class="d-flex justify-content-center">
                <div id="loadingDiv" class="spinner-border text-primary" role="status" style="display: none;">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="btn-toolbar ">
                  <button id="downloadall" class="btn btn-sm btn-outline-secondary mx-auto" style="display: none; width: 200px;">Exporter le Rapport</button>
                </div>
              </div>
            </div>
            

          </div>
          
            <!-- <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dolorum exercitationem praesentium aliquid distinctio error odit fugit facere optio aliquam dicta illo commodi, 
                incidunt repudiandae saepe? In laboriosam ad tempora sit?
            </p> -->
           
            
          <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

        <div id="indic1div"  style="display: none;">
          <canvas id="line_actuality" width="800" height="450"  style="display: none;"></canvas>
          <canvas id="point_actuality" width="800" height="450"  style="display: none;"></canvas>
          <canvas id="polygon_actuality" width="800" height="450"  style="display: none;"></canvas>
          <div id="mapanalyse" class="card" style="display: none;">
            <div id="map_bg" class="card-img-top"></div>
            <div class="card-body">
              <h5 class="card-title">Analyse sur carte</h5>
              <p class="card-text">Cliquer sur le boutton Map pour effectué des analyse approfondi sur l'actualité de toutes les entitées historique d'OSM</p>
              <a href="#" onclick="Full_W_P('http://127.0.0.1:5000/map')" class="btn btn-primary">Map</a>
            </div>
          </div>
        </div>
        <div id="indic2div"  style="display: none;">
          <canvas id="Completude" width="850" height="450"  style="display: none;"></canvas>
          <canvas id="distinct" width="850" height="450"  style="display: none;"></canvas>
        </div>
        <div id="indic3div"  style="display: none;">
          <canvas id="poly" width="850" height="450" style="display: none;"></canvas>
        </div>
        <div id="indic4div"  style="display: none;">
          <canvas id="calass" width="800" height="450"  style="display: none;"></canvas>
          <canvas id="crea_edit_point" width="800" height="450" style="display: none;"></canvas>
          <canvas id="crea_edit_line" width="800" height="450" style="display: none;"></canvas>
          <canvas id="crea_edit_poly" width="800" height="450" style="display: none;"></canvas>
        </div>
        
        
        

          <!-- <h2>Section title</h2>
          <div class="table-responsive">
            
          </div> -->
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/static/js/Chart.min.2.7.2.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/plugin"></script>
    <!-- <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script> -->
    <script src="/static/js/ol.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script> -->

    <!-- Icons -->
    <!-- <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script> -->
    <script src="/static/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    
  </body>

<script>
$("#downloadPdf").click(function(){
  var pdf = new jsPDF();
  pageHeight= pdf.internal.pageSize.height;

  if ($("#navIndic1").hasClass('active')) {
    $('#indic1div canvas').each(function(i, ele) {
      if ((i*130 + 130) >= pageHeight)
      {
        pdf.addPage();
        pdf.addImage(ele.toDataURL(), 'JPEG', 0, 20, 210, 119);
      }else{
        pdf.addImage(ele.toDataURL(), 'JPEG', 0, i*130 +20, 210, 119);
      }
    });
    pdf.save("Inticateur_de_lActualité_des_entites_OSM.pdf");
  } else if($("#navIndic2").hasClass('active')){
    $('#indic2div canvas').each(function(i, ele) {
      if ((i*130 + 130) >= pageHeight)
      {
        pdf.addPage();
        pdf.addImage(ele.toDataURL(), 'JPEG', 0, 20, 210, 119);
      }else{
        pdf.addImage(ele.toDataURL(), 'JPEG', 0, i*130 +20, 210, 119);
      }
    });
    pdf.save("Inticateur_sur_la_Completude.pdf");
  } else if($("#navIndic3").hasClass('active')){
    $('#indic3div canvas').each(function(i, ele) {
      if ((i*130 + 130) >= pageHeight)
      {
        pdf.addPage();
        pdf.addImage(ele.toDataURL(), 'JPEG', 0, 20, 210, 119);
      }else{
        pdf.addImage(ele.toDataURL(), 'JPEG', 0, i*130 +20, 210, 119);
      }
    });
    pdf.save("Inticateur_sur_la_Geometrie.pdf");
  } else if($("#navIndic4").hasClass('active')){
    $('#indic4div canvas').each(function(i, ele) {
      if ((i*130 + 130) >= pageHeight)
      {
        pdf.addPage();
        pdf.addImage(ele.toDataURL(), 'JPEG', 0, 20, 210, 119);
      }else{
        pdf.addImage(ele.toDataURL(), 'JPEG', 0, i*130 +20, 210, 119);
      }
    });
    pdf.save("Inticateur_sur_les_Contributeurs.pdf");
  }

});

$("#downloadall").click(function(){
  var pdf = new jsPDF();
  pageHeight= pdf.internal.pageSize.height;

  $('canvas').each(function(i, ele) {
      if ((i*130 + 130) >= pageHeight)
      {
        pdf.addPage();
        pdf.addImage(ele.toDataURL(), 'JPEG', 0, 20, 210, 119);
      }else{
        pdf.addImage(ele.toDataURL(), 'JPEG', 0, i*130 +20, 210, 119);
      }
    });
    pdf.save("Inticateurs_Rapport.pdf");

});

    function Full_W_P(url) {
    params  = 'width='+screen.width;
    params += ', height='+screen.height;
    params += ', top=0, left=0'
    params += ', fullscreen=yes';
    params += ', directories=no';
    params += ', location=no';
    params += ', menubar=no';
    params += ', resizable=no';
    params += ', scrollbars=no';
    params += ', status=no';
    params += ', toolbar=no';


    newwin=window.open(url,'FullWindowAll', params);
    if (window.focus) {newwin.focus()}
    return false;
    }
    function newtab(){
        window.open('http://127.0.0.1:5000/map','_blank','newWin','fullscreen="yes"')
    }

    function indic1(){
        $('.nav li a').removeClass('active');
        $('#navIndic1').addClass('active');
        $('#navMain').css("pointer-events", "none");
        $('#downloadPdf').css("display", "block");                
        $('#dashCard').css("display", "none");
        $('#indic2div').css("display", "none");
        $('#indic3div').css("display", "none");
        $('#indic4div').css("display", "none");
        $('#title').text('Inticateur de l\'Actualité des entitées OSM')
        showindic1();
        $('#consolebody').append('<p> > ' + "Inticateur de l\'Actualité des entitées OSM" + '</p>');
    }

    function indic2(){
        $('.nav li a').removeClass('active');
        $('#navIndic2').addClass('active');
        $('#navMain').css("pointer-events", "none");
        $('#downloadPdf').css("display", "block");  
        $('#dashCard').css("display", "none");
        $('#indic1div').css("display", "none");
        $('#indic3div').css("display", "none");
        $('#indic4div').css("display", "none");
        $('#title').text('Inticateur sur la Complètude')
        showindic2();
        $('#consolebody').append('<p> > ' + "Inticateur sur la Complètude" + '</p>');
    }

    function indic3(){
        $('.nav li a').removeClass('active');
        $('#navIndic3').addClass('active');
        $('#navMain').css("pointer-events", "none");
        $('#downloadPdf').css("display", "block");  
        $('#dashCard').css("display", "none");
        $('#indic2div').css("display", "none");
        $('#indic1div').css("display", "none");
        $('#indic4div').css("display", "none");
        $('#title').text('Inticateur sur la Géométries')
        showindic3();
        $('#consolebody').append('<p> > ' + "Inticateur sur la Géométries" + '</p>');
    }

    function indic4(){
        $('.nav li a').removeClass('active');
        $('#navIndic4').addClass('active');
        $('#navMain').css("pointer-events", "none");
        $('#downloadPdf').css("display", "block");  
        $('#dashCard').css("display", "none");
        $('#indic2div').css("display", "none");
        $('#indic3div').css("display", "none");
        $('#indic1div').css("display", "none");
        $('#title').text('Inticateur sur les Contributeurs')
        showindic4();
        $('#consolebody').append('<p> > ' + "Inticateur sur les Contributeurs" + '</p>');
    }

const yourFunction = async () => {
  const delay = ms => new Promise(res => setTimeout(res, ms));
  await delay(1500);
  $('#consolebody').append('<p> > ' + "Base de données en cours de connection..." + '</p>');
  await delay(1500);
  $('#consolebody').append('<p> > ' + "Connection avec succes" + '</p>');
    $('#consolebody').append('<p> > ' + "traitement des données en cours..." + '</p>');
  
  await delay(7000);
  $('.nav-link').css("pointer-events", "auto");
  $('#consolebody').append('<p> > ' + "Opération terminée avec succes." + '</p>');
  $('#cardSelect').css("display", "none");
  $('#cardText').text('Veillez consulter les resultats, disponible au format PDF sur le lien ci-dessous, ainsi que sur la barre latérale.')
  $('#downloadall').css("display", "block");
  $('#loadingDiv').css("display", "none");
  
};
$('#runBtn').click(function(e){
    this.style.display = 'none';
    $('#loadingDiv').css("display", "block");
    yourFunction();
});


    function showindic1(){
        document.getElementById("indic1div").style.display = 'block'
        document.getElementById("line_actuality").style.display = 'block'
        document.getElementById("point_actuality").style.display = 'block'
        document.getElementById("polygon_actuality").style.display = 'block'
        document.getElementById("mapanalyse").style.display = 'block'
    }

    function showindic2(){
        document.getElementById("indic2div").style.display = 'block'
        document.getElementById("Completude").style.display = 'block'
        document.getElementById("distinct").style.display = 'block'
    }

    function showindic3(){
        document.getElementById("indic3div").style.display = 'block'
        document.getElementById("poly").style.display = 'block'
    }

    function showindic4(){
        document.getElementById("indic4div").style.display = 'block'
        document.getElementById("calass").style.display = 'block'
        document.getElementById("crea_edit_point").style.display = 'block'
        document.getElementById("crea_edit_poly").style.display = 'block'
        document.getElementById("crea_edit_line").style.display = 'block'
    }

    function loadData(){
        document.getElementById("loadingFrame").style.display = "block"
        setTimeout(showChart, 3000);  
    }

    
    // Global parameters:
    // do not resize the chart canvas when its container does (keep at 600x400px)
    Chart.defaults.global.responsive = false;

    // Actuality lines
    new Chart(document.getElementById("line_actuality"), {
    type: 'doughnut',
    data: {
      labels: ['Moins de 6 Mois', 'Entre 6 et 12 Mois', 'Entre 1 an et 2 ans', 'Plus de 2 ans'],
      datasets: [{
        backgroundColor: ["#5cb85c", "#f7f400","#F9D221","#ff6700"],
        data: ['{{data.c1}}','{{data.c2}}','{{data.c3}}','{{data.c4}}']
      }]
    },
    options: {
      responsive :false,
      title: {
        display: true,
        text: 'Visualitation de lactualité des données OSM de toutes les lignes durant la période étudiée'
      },
      plugins: {
            datalabels: {
                formatter: (value, ctx) => {
                
                    let sum = ctx.dataset._meta[0].total;
                    let percentage = (value * 100 / sum).toFixed(2) + "%";
                    return percentage;

              
                },
                color: '#000',
                     }
        }
    
    }})
    // Actuality point
    new Chart(document.getElementById("point_actuality"), {
    type: 'doughnut',
    data: {
      labels: ['Moins de 6 Mois', 'Entre 6 et 12 Mois', 'Entre 1 an et 2 ans', 'Plus de 2 ans'],
      datasets: [{
        backgroundColor: ["#5cb85c", "#f7f400","#F9D221","#ff6700"],
        data: ['{{data2.p1}}','{{data2.p2}}','{{data2.p3}}','{{data2.p4}}']
      }]
    },
    options: {
      responsive :false,
      title: {
        display: true,
        text: 'Visualitation de lactualité des données OSM de tous les points durant la période étudiée'
      },
      plugins: {
            datalabels: {
                formatter: (value, ctx) => {
                
                    let sum = 0;
                  let dataArr = ctx.chart.data.datasets[0].data;
                  
                  dataArr.map(data => {
                      sum += parseInt(data);
                  });
                  let percentage = (parseInt(value)*100 / sum).toFixed(2)+"%";
                //   console.log('pipipi')
                //   console.log(value)
                //   console.log(sum)
                //   console.log(percentage)
                  return percentage;          
                },
                color: '#000',
                     }
        }
    
    }})

     // Actuality polygons
    new Chart(document.getElementById("polygon_actuality"), {
    type: 'doughnut',
    data: {
      labels: ['Moins de 6 Mois', 'Entre 6 et 12 Mois', 'Entre 1 an et 2 ans', 'Plus de 2 ans'],
      datasets: [{
        backgroundColor: ["#5cb85c", "#f7f400","#F9D221","#ff6700"],
        data: ['{{data3.pl1}}','{{data3.pl2}}','{{data3.pl3}}','{{data3.pl4}}']
      }]
    },
    options: {
      responsive :false,  
      title: {
        display: true,
        text: 'Visualitation de lactualité des données OSM de tous les polygones durant la période étudiée'
      },
      plugins: {
            datalabels: {
                formatter: (value, ctx) => {
                
                    let sum = 0;
                  let dataArr = ctx.chart.data.datasets[0].data;
                  
                  dataArr.map(data => {
                      sum += parseInt(data);
                  });
                  let percentage = (parseInt(value)*100 / sum).toFixed(2)+"%";
                
                  return percentage;          
                },
                color: '#000',
                     }
        }
    
    }})

    // affichage de la complèdute
    var completude = {
        labels : [{% for item in monthcomp %}
        "{{item}}",
        {% endfor %}],
        datasets : [{
        label: 'Autoroute',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(232,243,63,0.7)",
        borderColor: "rgba(232,243,63,1)",
        data : [{% for item in y1 %}
        {{ item }},
        {% endfor %}]
        },{
        label: 'Routes tertiaires/secondaires',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(249,210,33,0.7)",
        borderColor: "rgba(249,210,33,1)",
        data : [
	    {% for item in y2s %}
              {{ item }},
            {% endfor %}]
        },{
        label: 'Routes résidentielle',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(50,205,50,0.7)",
        borderColor: "rgba(50,205,50,1)",
        data : [
	    {% for item in y3s %}
              {{ item }},
            {% endfor %}]
        },{
        label: 'Autres Routes',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(255,103,0,0.7)",
        borderColor: "rgba(255,103,0,1)",
        data : [
	    {% for item in y4s %}
              {{ item }},
            {% endfor %}]
        }
        ]
        }

        new Chart(document.getElementById("Completude"), {
        type: 'line',
        data: completude,
        options: {
            plugins: {
                datalabels: {
                    // hide datalabels for all datasets
                    display: false
                }},
            title: {
            display: true,
            text: 'Etude de la Complètude, Développement de la longeur du Réseau Routier par catégories. Longuers total en [Km]'
            }
        }
        });

    // Nombre total des contributeurs distincs par mois
    var dist = {
        labels : [{% for item in monthdist %}
        "{{item}}",
        {% endfor %}],
        datasets : [{
        label: 'Nombre total de contributeurs',
        fill: false,
        backgroundColor: "rgba(121,236,36,0.4)",
        borderColor: "rgba(121,236,36,1)",
        data : [{% for item in dist %}
        {{ item }},
        {% endfor %}]
        },
        ]
        }

        new Chart(document.getElementById("distinct"), {
        type: 'line',
        data: dist,
        options: {
            plugins: {
                datalabels: {
                    // hide datalabels for all datasets
                    display: false
                }},
            title: {
            display: true,
            text: 'Evolution du nombre total de contributeurs distincts par mois durant la période étudiée'
            }
        }
        });  
        
        
    // user calssification
    new Chart(document.getElementById("calass"), {
    type: 'doughnut',
    data: {
      labels: ['Contributeur Expérimenté', 'Contributeur débutant', 'Contributeur non récurrent'],
      datasets: [{
        backgroundColor: ["#52d726", "#ffec00","#ff6700"],
        data: ['{{data4.senior_mappers}}','{{data4.junior_mappers}}','{{data4.nonrecurring_mappers}}']
      }]
    },
    options: {
      responsive :false,  
      title: {
        display: true,
        text: 'Classification des types de cartographes catégorisés selon leurs contributions durant la période étudiée'
      },
      plugins: {
            datalabels: {
                formatter: (value, ctx) => {
                
                    let sum = 0;
                  let dataArr = ctx.chart.data.datasets[0].data;
                  
                  dataArr.map(data => {
                      sum += parseInt(data);
                  });
                  let percentage = (parseInt(value)*100 / sum).toFixed(2)+"%";
                
                  return percentage;          
                },
                color: '#000',
                     }
        }
    
    }})

    // Nombre total des Points Crées et editées
    var pointcreaedit = {
        labels : [{% for item in monthpoint %}
        "{{item}}",
        {% endfor %}],
        datasets : [{
        label: 'Nombre total des Points Crées',
        fill: false,
        backgroundColor: "rgba(121,236,36,0.4)",
        borderColor: "rgba(121,236,36,1)",
        data : [{% for item in createdpoint %}
        {{ item }},
        {% endfor %}]
        },{
        label: 'Nombre total des Points Edités',
        fill: false,
        backgroundColor: "rgba(255, 195,0,0.4)",
        borderColor: "rgba(255, 195,0,1)",
        data : [
	    {% for item in editedpoint %}
              {{ item }},
            {% endfor %}]
        }
        ]
        }

        new Chart(document.getElementById("crea_edit_point"), {
        type: 'line',
        data: pointcreaedit,
        options: {
            plugins: {
                datalabels: {
                    // hide datalabels for all datasets
                    display: false
                }},
            title: {
            display: true,
            text: 'Développement des Points Crées et Editées durant la période étudiée'
            }
        }
        });

               

     // Nombre total des lignes Crées et editées
     var linecreaedit = {
        labels : [{% for item in monthline %}
        "{{item}}",
        {% endfor %}],
        datasets : [{
        label: 'Nombre total des Lignes Crées',
        fill: false,
        backgroundColor: "rgba(121,236,36,0.4)",
        borderColor: "rgba(121,236,36,1)",
        data : [{% for item in createdline %}
        {{ item }},
        {% endfor %}]
        },{
        label: 'Nombre total des Lignes Editées',
        fill: false,
        backgroundColor: "rgba(255, 195,0,0.4)",
        borderColor: "rgba(255, 195,0,1)",
        data : [
	    {% for item in editedline %}
              {{ item }},
            {% endfor %}]
        }
        ]
        }

        new Chart(document.getElementById("crea_edit_line"), {
        type: 'line',
        data: linecreaedit,
        options: {
            plugins: {
                datalabels: {
                    // hide datalabels for all datasets
                    display: false
                }},
            title: {
            display: true,
            text: 'Développement des Lignes Crées et Editées durant la période étudiée'
            }
        }
        });

      

    // Nombre total des Polygons Crées et editées
        var polycreaedit = {
        labels : [{% for item in month %}
        "{{item}}",
        {% endfor %}],
        datasets : [{
        label: 'Nombre total des Polygons Crées',
        fill: false,
        backgroundColor: "rgba(121,236,36,0.4)",
        borderColor: "rgba(121,236,36,1)",
        data : [{% for item in createdpoly %}
        {{ item }},
        {% endfor %}]
        },{
        label: 'Nombre total des Polygons Editées',
        fill: false,
        backgroundColor: "rgba(255, 195,0,0.4)",
        borderColor: "rgba(255, 195,0,1)",
        data : [
	    {% for item in editedpoly %}
              {{ item }},
            {% endfor %}]
        }
        ]
        }

        new Chart(document.getElementById("crea_edit_poly"), {
        type: 'line',
        data: polycreaedit,
        options: {
            plugins: {
                datalabels: {
                    // hide datalabels for all datasets
                    display: false
                }},
            title: {
            display: true,
            text: 'Développement des Polygons Crées et Editées durant la période étudiée'
            }
        }
        });


    // Développement des polygones invalides
    var poly_bymount = {
        labels : [{% for item in monthpoly %}
        "{{item}}",
        {% endfor %}],
        datasets : [{
        label: 'Nombre de polygones invalides',
        type: 'bar',
        yAxisID: 'A',
        fill: false,
        backgroundColor: "rgba(121,236,36,0.7)",
        borderColor: "rgba(121,236,36,1)",
        data : [{% for item in invalid %}
        {{ item }},
        {% endfor %}]
        },{
        label: 'Pourcentage de polygones invalides de tous les polygones [%]',
        yAxisID: 'B',
        type: 'line',
        fill: false,
        backgroundColor: "rgba(255,103,0,0.5)",
        borderColor: "rgba(255,103,0,7)",
        data : [{% for item in quotients %}
        {{ item }},
        {% endfor %}]
        }
        ]
        }

        new Chart(document.getElementById("poly"), {
        type: 'bar',
        data: poly_bymount,
        options: {
            scales: {
                    yAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                    }, {
                        id: 'B',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                        max: 2,
                        min: 0
                        }
                    }]
                 },
    
            plugins: {
                datalabels: {
                    // hide datalabels for all datasets
                    display: false
                }},
            title: {
            display: true,
            text: 'Evolution et Développement du nombre de polygones invalides, ainsi que du Pourcentage de polygones invalides de tous les polygones durant la période étudiée'
            }
        }
        });  
</script>

</html>