<ul class="nav flex-column list-group">
    <li class="nav-item list-group-item ">
        <a href="{{ url_for('bp_dashboard.dashboard') }}" class="nav-link {% if page_id == 1 %}active{% endif %}">
            {{ _("لوحة القيادة") }}
        </a>
    </li>
    <!-- <li class="nav-item list-group-item">
        <a href="{{ url_for('bp_decision.add') }}" class="nav-link {% if page_id == 2 %}active{% endif %}">
            {{ _("إضافة مقرر") }}
        </a>
    </li> -->
    <!-- <li class="nav-item list-group-item">
        <div class="dropdown">
            <button class="dropWhite btn btn-secondary dropdown-toggle {% if page_id == 4 %}active{% endif %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ _("قائمة المقرارات") }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('bp_decision.pv', key='soumis') }}">{{ _(" قائمة القرارات
                    المقدمة") }}</a>
                <a class="dropdown-item" href="{{ url_for('bp_decision.pv',key='valide' ) }}">{{_("قائمة القرارات
                    المصادق عليها")}}</a>
                <a class="dropdown-item" href="{{ url_for('bp_decision.pv',key='modifier') }}">{{_("قائمة قرارات
                    التعديل")}}</a>
            </div>
        </div>
    </li> -->
    <li class="nav-item list-group-item">
        <a href="{{ url_for('bp_progress.addProgress') }}" class="nav-link {% if page_id == 8 %}active{% endif %}">
            {{ _("إدخال الإحصائيات الجديدة") }}
        </a>
    </li>
    <!-- <li class="nav-item list-group-item">
        <a class="nav-link {% if page_id ==9%}active{% endif %}" href="#" style="pointer-events: none;cursor: default;color: darkgray;">
            {{ _("الخريطة") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link {% if page_id == 5 %}active{% endif %}" href="#" style="pointer-events: none;cursor: default;color: darkgray;">
            {{ _("اكتشاف الاخطاء") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link {% if page_id == 6 %}active{% endif %}" href="#" style="pointer-events: none;cursor: default;color: darkgray;">
            {{ _("إشعارات") }}
        </a>
    </li> -->
    <li class="nav-item list-group-item">
        <a class="nav-link {% if page_id == 12 %}active{% endif %}" href="{{ url_for('bp_progress.commune_prev_stats') }}">
            {{ _("التسجيلات السابقة") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link {% if page_id == 7 %}active{% endif %}" href="{{ url_for('security.change_password') }}">
            {{ _("تغيير كلمة السر") }}
        </a>
    </li>
</ul>