<ul class="nav flex-column list-group">
    <li class="nav-item list-group-item">
        <a href="{{ url_for('bp_dashboard.dashboard') }}" class="nav-link {% if page_id == 1 %}active{% endif %}">
            {{ _("لوحة القيادة") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a href="{{ url_for('bp_progress.wilaya_etat_detail', code_wilaya='00') }}" class="nav-link {% if page_id == 9 %}active{% endif %}">
            {{ _("الوضعية الحالية الوطنية") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a href="{{ url_for('bp_progress.wilaya_situation') }}" class="nav-link {% if page_id == 10 %}active{% endif %}">
            {{ _("الوضعية الحالية للولايات") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a href="{{ url_for('bp_progress.commune_situation') }}" class="nav-link {% if page_id == 11 %}active{% endif %}">
            {{ _("الوضعية الحالية للبلديات") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link {% if page_id == 12 %}active{% endif %}" href="{{ url_for('bp_progress.commune_prev_stats') }}">
            {{ _("التسجيلات السابقة") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link {% if page_id == 15 %}active{% endif %}" href="{{ url_for('bp_progress.map_stats') }}">
            {{ _("الاحصائيات على الخريطة") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link {% if page_id == 7 %}active{% endif %}" href="{{ url_for('security.change_password') }}">
            {{ _("تغيير كلمة السر") }}
        </a>
    </li>

</ul>