<ul class="nav flex-column">
    <!-- <li class="nav-item">
        <a href="{{ url_for('bp_dashboard.validateur') }}" class="nav-link {% if page_id == 1 %}active{% endif %}" href="#">
        {{ _("لوحة القيادة") }}
        </a>
    </li> -->
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle {% if page_id == 4 %}active{% endif %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ _("قائمة المقرارات") }}
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('bp_decision.pv', key='soumis') }}">{{ _(" قائمة القرارات المقدمة") }}</a>
                <a class="dropdown-item" href="{{ url_for('bp_decision.pv',key='valide' ) }}">{{_("قائمة القرارات المصادق عليها")}}</a>
                <a class="dropdown-item" href="{{ url_for('bp_decision.pv',key='modifier') }}">{{_("قائمة قرارات التعديل")}}</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page_id == 7 %}active{% endif %}" href="{{ url_for('security.change_password') }}">
        {{ _("تغيير كلمة السر") }}
        </a>
    </li>
</ul>