{% set page_id = 15 %} {%extends "layout.html"%} {% block head %} {{ super() }} {% endblock %} {% block menu %}{% include "menus/menu.html" %}{% endblock %} {% block title %}{{ _("الوضعية الحالية للولايات") }}{% endblock %} {% block title_left %}
<script type="text/javascript" src="{{url_for('static', filename= 'js/ol.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename= 'js/ol.css')}}" type="text/css">
<script type="text/javascript" src="{{url_for('static', filename= 'js/ol-ext.js')}}"></script>

{% endblock %} {% block content %}
<section style="width:100;height:80vh;">
    <div id="map" style="width:100%; height:100%;"></div>

</section>


<script>
    var styleCache = {};
    var donnes_commune = '{{donnes_commune|tojson}}'
    donnes_commune = JSON.parse(donnes_commune)

    var donnes_wilaya = '{{donnes_wilaya|tojson}}'
    donnes_wilaya = JSON.parse(donnes_wilaya)


    // var layer = new ol.layer.Tile({ source: new ol.source.OSM() });

    var layer = new ol.layer.Image({
        title: 'borders',
        opacity: 1,
        zIndex: 1,

        source: new ol.source.ImageWMS({
            url: 'http://192.168.0.230/background_map/',
            ratio: 1,
            serverType: 'mapserver',
            projection: 'EPSG:4326',
            imageExtent: [-180, -90, 180, 90],
            params: {
                'LAYERS': 'blue_marble',
                'FORMAT': 'IMAGE/jpeg'
            },
        }),
    })
    var layer1 = new ol.layer.Image({
            title: 'borders',
            opacity: 1,
            zIndex: 1,

            source: new ol.source.ImageWMS({
                url: 'http://192.168.0.230/background_map/',
                ratio: 1,
                serverType: 'mapserver',
                projection: 'EPSG:4326',
                imageExtent: [-180, -90, 180, 90],
                params: {
                    'LAYERS': 'borders',
                    'FORMAT': 'IMAGE/png'
                },
            }),
        })
        // The map
    var map = new ol.Map({
        target: 'map',
        view: new ol.View({
            zoom: 4.5,

            center: ol.proj.fromLonLat([4, 28])
        }),
        layers: [layer, layer1]
    });



    function getFeatureStyle(feature, sel) {

        var k = $("#graph").val() + "-" + $("#color").val() + "-" + (sel ? "1-" : "") + feature.get("data");

        var style = styleCache[k];
        if (!style) {
            var radius = 20;
            var data = feature.get("data");



            // Create chart style
            style = [new ol.style.Style({
                image: new ol.style.Chart({
                    type: "pie",
                    radius: radius,
                    colors: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],

                    data: data,
                    rotateWithView: true,
                    stroke: new ol.style.Stroke({
                        color: "#fff",
                        width: 2
                    }),
                })
            })];

            // Show values on select
            if (sel) {

                var sum = feature.get("sum");

                var s = 0;
                for (var i = 0; i < data.length; i++) {
                    var d = data[i];
                    var a = (2 * s + d) / sum * Math.PI - Math.PI / 2;
                    var v = Math.round(d / sum * 1000);
                    if (v > 0) {
                        style.push(new ol.style.Style({
                            text: new ol.style.Text({
                                text: (v / 10) + "%",
                                /* d.toString() */
                                offsetX: Math.cos(a) * (radius + 1),
                                offsetY: Math.sin(a) * (radius + 15),
                                textAlign: (a < Math.PI / 2 ? "left" : "right"),
                                textBaseline: "middle",
                                scale: 1.5,
                                stroke: new ol.style.Stroke({
                                    color: "#fff",
                                    width: 2.5
                                }),
                                fill: new ol.style.Fill({
                                    color: "#333",
                                })
                            })
                        }));
                    }
                    s += d;
                }
            }
        }
        styleCache[k] = style;
        return style;
    }

    // fin style  
    function data_to_features(donnes) {
        var ext = map.getView().calculateExtent(map.getSize());
        var features = [];
        for (var i = 0; i < donnes.length; ++i) {
            var n, nb = 0,
                data = [];
            data1 = donnes[i]

            for (var k = 4; k < 7; k++) {

                data.push(data1[k])
                nb += data1[k];

            }
            features[i] = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([data1[1], data1[2]])),
                data: data,
                sum: nb
            });
        }
        return features
    }

    features_commune = data_to_features(donnes_commune)
    var vector_commune = new ol.layer.Vector({
        name: 'Vecteur',
        minZoom: 9.5,
        zIndex: 100,
        source: new ol.source.Vector({
            features: features_commune
        }),

        renderOrder: ol.ordering.yOrdering(),
        style: function(f) {
            return getFeatureStyle(f);
        }
    })

    map.addLayer(vector_commune);
    // wilaya
    features_wilaya = data_to_features(donnes_wilaya)
    var vector_wilaya = new ol.layer.Vector({
        name: 'Vecteur',
        minZoom: 4.5,
        maxZoom: 9.49,
        zIndex: 100,
        source: new ol.source.Vector({
            features: features_wilaya
        }),

        renderOrder: ol.ordering.yOrdering(),
        style: function(f) {
            return getFeatureStyle(f);
        }
    })

    map.addLayer(vector_wilaya);

    var select = new ol.interaction.Select({
        style: function(f) {
            return getFeatureStyle(f, true);
        }
    });
    map.addInteraction(select);
</script>
{% endblock %}