<ul class="nav flex-column list-group">
    <!-- <li class="nav-item list-group-item">
        <a href="{{ url_for('bp_dashboard.admin') }}" class="nav-link {% if page_id == 1 %}active{% endif %}" style="pointer-events: none;cursor: default;color: darkgray;">
        {{ _("لوحة القيادة") }}
        </a>
    </li> -->
    <li class="nav-item list-group-item">
        <a href="{{ url_for('bp_account.users') }}" class="nav-link {% if page_id == 2 %}active{% endif %}">
        {{ _("قائمة المستخدمين") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a href="{{ url_for('bp_account.add_user') }}" class="nav-link {% if page_id == 3 %}active{% endif %}">
        {{ _("مستخدم جديد") }}
        </a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link {% if page_id == 7 %}active{% endif %}" href="{{ url_for('security.change_password') }}">
        {{ _("تغيير كلمة السر") }}
        </a>
    </li>
</ul>