<!DOCTYPE html>
<html lang="en" dir="rtl">

<script>
    //detect browser 
    function browser() {
        if (navigator.userAgent.toLowerCase().match('chrome')) {
            let version = navigator.userAgent.toLowerCase().split('chrome/')[1];
            version = version[0] + version[1]
            if (version < 88) {
                location.replace("{{ url_for('static', filename = 'pages/browser.html') }}")
            }

        } else if (navigator.userAgent.toLowerCase().match('firefox')) {
            let version = navigator.userAgent.toLowerCase().split('firefox/')[1];
            version = version[0] + version[1];
            if (version < 84) {
                location.replace("{{ url_for('static', filename = 'pages/browser.html') }}")
            }


        }

    };
    browser();
</script>

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='css/fa-all.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap-rtl.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" />

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>{{title}}</title>

</head>

<!--[if IE ]><body class=ie>
  <center><p>Cette application ne supporte pas internet explorer </p></center><![endif]-->
<!--[if  ! IE ]><body id=corf><![endif]-->

<body>
    <section class="login">
        <div class="box_login wow slideInRight" data-wow-duration="2s">
            <form class="needs-validation" method="POST" autocomplete="off" novalidate>
                {{ login_user_form.hidden_tag() }}
                <div class="form-group">
                    {{ login_user_form.email.label }} {{ login_user_form.email(class="form-control" + (" is-invalid" if login_user_form.email.errors else "")) }}
                    <div class="invalid-feedback">
                        {{ login_user_form.email.errors | first }}
                    </div>
                </div>
                <div class="form-group">
                    {{ login_user_form.password.label }} {{ login_user_form.password(class="form-control" + (" is-invalid" if login_user_form.password.errors else "")) }}
                    <div class="invalid-feedback">
                        {{ login_user_form.password.errors | first }}
                    </div>
                </div>
                {{ login_user_form.submit() }}
            </form>
            <div class="text_login">

                <center>
                    <h1>المرجع الوطني للعنونة</h1>

                </center>

            </div>
        </div>


        <section class="back"></section>





    </section>





</body>
<script src="{{ url_for('static', filename='js/wow.js') }}"></script>
<script>
    new WOW().init();
</script>

</html>